
:root {
    --bs-primary-color: #eb4532;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #111111;
}

.text-primary {
    color: var(--bs-primary-color) !important;
}

.bg-primary {
    background-color: var(--bs-primary-color) !important;
}